In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.0.5'

In [5]:
data=pd.read_excel("detect_dataset.xlsx")

In [11]:
data

,Output (S),Ia,Ib,Ic,Va,Vb,Vc
0,0,-170.472196,9.219613,161.252583,0.054490,-0.659921,0.605431
1,0,-122.235754,6.168667,116.067087,0.102410,-0.628612,0.526202
2,0,-90.161474,3.813632,86.347841,0.141026,-0.605277,0.464251
3,0,-79.904916,2.398803,77.506112,0.156272,-0.602235,0.445963
4,0,-63.885255,0.590667,63.294587,0.180451,-0.591501,0.411050
...,...,...,...,...,...,...,...
11996,0,-66.237921,38.457041,24.912239,0.094421,-0.552019,0.457598
11997,0,-65.849493,37.465454,25.515675,0.103778,-0.555186,0.451407
11998,0,-65.446698,36.472055,26.106554,0.113107,-0.558211,0.445104
11999,0,-65.029633,35.477088,26.684731,0.122404,-0.561094,0.438690
12000,0,-64.598401,34.480799,27.250065,0.131669,-0.563835,0.432166

In [9]:
import numpy as np
X = np.array(data.drop("Output (S)",axis=1))

In [10]:
X.shape

(12001, 6)

In [12]:
Y = np.array(data["Output (S)"])

In [13]:
Y.shape

(12001,)

In [14]:
Y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [15]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y,test_size=0.3,random_state=42,stratify=Y)

In [18]:
import scipy.io
scipy.io.savemat('C:/Users/abhik/Desktop/Y.mat', mdict={'Y': Y})
scipy.io.savemat('C:/Users/abhik/Desktop/X.mat', mdict={'X': X})

In [21]:
scipy.io.savemat('C:/Users/abhik/Desktop/Ytrain.mat', mdict={'Ytrain': Ytrain})
scipy.io.savemat('C:/Users/abhik/Desktop/Xtrain.mat', mdict={'Xtrain': Xtrain})
scipy.io.savemat('C:/Users/abhik/Desktop/Ytest.mat', mdict={'Yest': Ytest})
scipy.io.savemat('C:/Users/abhik/Desktop/Xtest.mat', mdict={'Xtest': Xtest})

In [22]:
Xtrain.shape,Xtest.shape,Ytrain.shape,Ytest.shape

((8400, 6), (3601, 6), (8400,), (3601,))